@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.964);
  margin: 0;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-size: 42px;
}
p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.845);
}
svg {
  margin-top: 0.4rem;
}
.first-p {
  margin-top: -1.5rem;
  line-height: 1.4;
}
.logo {
  max-width: 8rem;
  max-height: 1.5rem;
  margin-top: 2rem;
  margin-left: 5rem;
}

#main-content {
  text-align: center;
}

input {
  width: 38rem;
  font-size: 15px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #d20094;
  padding-bottom: 0.7rem;
  padding-top: 1rem;
  font-family: "Inter", sans-serif;
  color: white;
}
input:focus {
  outline: none;
}
.container-btn {
  text-align: center;
  margin: auto;
  padding: 2rem;
  margin-top: 1rem;
}
button {
  background-color: #00ffff;
  padding: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: large;
  color: #0b113bee;
  font-weight: 900;
  cursor: pointer;
  width: 12rem;
  box-shadow: -0px 2px 10px 9px #00ffff57;
  border: none;
  border-radius: 1px;
}
button:hover {
  background-color: #00eeff;
}
.leave {
  padding-top: 2rem;
  margin-top: 0px;
}

/* Javascript */
.container-stars {
  display: flex;
  justify-content: center;
  gap: 0.9rem;
}
#star {
  color: hsl(233 60% 18% / 1);
  cursor: pointer;
}
#star:hover {
  color: #00ffff;
}
#star.isHover {
  color: rgb(0 255 255 / 34%);
}
#star.acceso {
  color: #00ffff;
}
#svgContainer {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
#svgContainer img {
  max-width: 100%;
  max-height: 100%;
}
button a {
  text-decoration: none;
  color: #0b113bee;
}
.central {
  display: flex;
  justify-content: center;
  align-items: center;
}
.finalArea {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.845);
}
#prompt-form {
  display: inline-block;
  padding: 5px 5px 5px 70px;
  width: 270;
  border-bottom: #d20094;
  background: transparent;
  vertical-align: middle;
}

/* #prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
}
 */
/* #prompt-form-container:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}
 */
/* #prompt-form input[name="text"] {
  display: block;
  margin: 5px;
  width: 180px;
}
 */
